---
// import Welcome from "../components/Welcome.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

import SubTitulo from "../components/SubTitulo.astro";
import ContainerGrid from "../components/ContainerGrid.astro";
import Separator from "../components/Separator.astro";

import { searchLinks } from "../services/links";
import ContainerMain from "../components/ContainerMain.astro";
import Section from "../components/Section.astro";
import ColumnaTitle from "../components/ColumnaTitle.astro";

const links = await searchLinks();
---

<Layout>
	<ContainerMain>
		<Hero />

		<SubTitulo text="Hola mundo" />

		{
			links.map((link) => (
				<Section>
					<ColumnaTitle text={link.title_section} />
					<ContainerGrid links={link.links} />
					<Separator />
				</Section>
			))
		}
	</ContainerMain>
	<Footer />
</Layout>
