---
import Columna from "./Columna.astro";
import LinkSocial from "./LinkSocial.astro";

interface Props {
  links: {
    href: string;
    img: {
      src: string;
      alt: string;
    };
    span: string;
  }[];
}

const { links } = Astro.props;
---

<div class="links-container">
  {
    links.map((param) => (
      <Columna>
        <LinkSocial
          hrefLink={param.href}
          imgSrc={param.img.src}
          imgAlt={param.img.alt}
          spanText={param.span}
        />
      </Columna>
    ))
  }
</div>

<style>
  /* Estilo de los enlaces - 3 columnas */
  .links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }

  /* Responsive */
  @media (max-width: 900px) {
    .links-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .links-container {
      grid-template-columns: 1fr;
    }
  }
</style>
